.header{
padding: 0px;
background-image: url(../img/bg-weather.png);
width: 1250px;
height: 700px;background-size: 1250px;
background-repeat: no-repeat;

&__top{
padding: 25px 50px;


}
&__nav{
display: flex;
justify-content: space-between;
text-align: center;
}&__sear{
 border-radius: 7px;

display: flex;justify-content: space-between;
text-align: center;
}
&__text{
display: flex;
gap: 70px;

h1{
 font-family: Roboto;
font-size: 143px;
 font-weight: 400;
line-height: 168px;
letter-spacing: -0.08em;
 text-align: left;

}
}
&__monday h1{
font-family: Roboto;
font-size: 60px;
font-weight: 400;
 line-height: 70px;
letter-spacing: 0em;
 text-align: left;
}
&__monday p{
font-family: Roboto;
 font-size: 18px;
font-weight: 400;
 line-height: 21px;
letter-spacing: 0em;
 text-align: left;

}
&__imga{
 width: 100px;
 height: 100px;
 top: -23px;
 left: -31px;

}
&__botom{
text-align: center;
}
&__plus{
width:  354px;
height:290px;
top: 632px;
left: 207px;justify-content: space-between;
text-align: center;
gap: 30px;

}&__max{
display: flex;
text-align: center;
}
}