@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Black.eot");
  src: url("Roboto-Black.eot?#iefix") format("embedded-opentype"), url("Roboto-Black.woff2") format("woff2"), url("Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-BlackItalic.woff2") format("woff2"), url("Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-BoldItalic.eot");
  src: url("Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-BoldItalic.woff2") format("woff2"), url("Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.eot");
  src: url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 50px;
}

.btn {
  padding: 15px 25px;
  color: #1a1917;
  border-radius: 4px;
}

.form {
  border: none;
}

.border {
  border: none;
}

.header {
  padding: 0px;
  background-image: url(../img/bg-weather.png);
  width: 1250px;
  height: 700px;
  background-size: 1250px;
  background-repeat: no-repeat;
}

.header__top {
  padding: 25px 50px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.header__sear {
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.header__text h1 {
  font-family: Roboto;
  font-size: 143px;
  font-weight: 400;
  line-height: 168px;
  letter-spacing: -0.08em;
  text-align: left;
}

.header__monday h1 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
}

.header__monday p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.header__imga {
  width: 100px;
  height: 100px;
  top: -23px;
  left: -31px;
}

.header__botom {
  text-align: center;
}

.header__plus {
  width: 354px;
  height: 290px;
  top: 632px;
  left: 207px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  gap: 30px;
}

.header__max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
/*# sourceMappingURL=stayle.css.map */